<div class="container-fluid">
    <div class="row">
        <div id="h6" class="col-sm-4">
            {{tekstObject.titel}}
        </div>
        <div class="col-sm-8">
            <p id="text">
                {{tekstObject.tekst}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'../installatiehulp'">
                <div id="Installatiehulp"></div>
                <div id=h5>Installatiehulp</div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'../gettingstarted'">
                <div id="Gettingstarted"> </div>
                <div id=h5>Getting Started</div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
