<div class="container-fluid">
    <div class="row">
        <div id="h6" class="col-sm-4">
            Voorbereiding
        </div>
        <div class="col-sm-8">
            <p id="text">
                LORUM IPSUM - Om succesvol het traject door te komen kan jij als student al een aantal
                zaken voorbereiden. Allereerst heb je een aantal programma's nodig op je computer. Bekijk
                onder installatiehulp hoe en welke programma's je kan installeren. Onder Getting Started
                staan een aantal handige links met informatie. Wij raden aan dat je deze eens bekijkt. - LORUM IPSUM
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'../installatiehulp'">
                <div id="Installatiehulp"></div>
                <div id=h5>Installatiehulp</div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'../gettingstarted'">
                <div id="Gettingstarted"> </div>
                <div id=h5>Getting Started</div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
