<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div id=h6 class="col-sm-6">
                Welkom {{token.displaynaam}}!
            </div>
            <div class="col-sm-6">
                <p>Bekijk hier je profielinformatie en andere gegevens.</p>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <p>Naam:</p>
                </div>
                <div class="col-sm-6">
                    <p>{{token.displaynaam}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Email:</p>
                </div>
                <div class="col-sm-6">
                    <p>{{gebruiker.emailadres}}</p>
                </div>
            </div>
        </div>
    </div>
</div>