<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <h6>{{aantekening.titel}}</h6>
        </div>
    </div>
    <div class="row grijs">
        <div class="col-sm-5" id="titel">
            <div class="display">
                <p>Stof behandeld op: {{aantekening.dag | date:'EEE dd-MM-yyyy'}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <pre>{{aantekening.tekst}}</pre>
        </div>
    </div>
</div>