#mainbody {
    padding-top: 5%;
    background: #ffffff;
    color: #808080;
    font-size: 15px;
    margin-bottom: 3%;
}
.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}
.row {
    padding-top: 2.5%;
}
.titel{
    font-size: 32px;
    color: #808080;
    font-weight: 400;
    text-align: right;
}
#aantekeningTekst {
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #808285
}