<div class="row">
    <div class="container-fluid" id="mainbody">
        <div class="row">
            <table class='table table-bordered col-lg-10'>
                <thead id="table-bottom">
                    <tr>
                        <th id="thNaam">Traject</th>
                        <th id="thZichtbaar">Zichtbaar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Traject of alleTrajecten">
                        <td id="tdTraject{{Traject.id}}">{{Traject.naam}}</td>
                        <td id="tdZichtbaar{{Traject.id}}">
                            <div *ngIf="Traject.zichtbaar; else elseBlock">Ja</div>
                            <ng-template #elseBlock>Nee</ng-template>
                        </td>
                        <td><a id="pencil" (click)="clickWijzigModal('traject-modal', Traject.id)"><i
                                    class='fa fa-pencil' id="tdWijzig{{Traject.id}}"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<jw-modal class="jw-modal2" id="traject-modal">
    <h1>Wijzig traject</h1>
    <div class="row">
        <div class="col-sm-12">
            <div>Naam:</div>
            <div>
                <input [(ngModel)]="wijzigTraject.naam" type="text" class="form-control" id="veldTrajectModal" />
            </div>
        </div>
        <div class="col-sm-12">
            <div>Korte omschrijving:</div>
            <div>
                <textarea [(ngModel)]="wijzigTraject.korteOmschrijving" class="form-control" rows="2"
                    id="veldKorteOmschrijvingModal"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div>Lange omschrijving:</div>
            <div>
                <textarea [(ngModel)]="wijzigTraject.omschrijving" class="form-control" rows="3"
                    id="veldOmschrijvingModal"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div>Zichtbaar:</div>
            <div>
                <input [(ngModel)]="wijzigTraject.zichtbaar" type="checkbox" id="checkboxZichtbaarModal" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id='trajectOpslaanModal'
                (click)="updateTraject(wijzigTraject); closeModal('traject-modal');">Opslaan</button>
            <button id='trajectSluitModal' (click)="closeModal('traject-modal');">Annuleren</button>
        </div>
    </div>
</jw-modal>

<div class="row">
    <div class="col-sm-12">
        <div>Trajectnaam:
        </div>
        <div>
            <input [(ngModel)]="traject.naam" type="text" class="form-control" id="veldTraject" />
        </div>
        <div>Korte omschrijving:
        </div>
        <div>
            <textarea [(ngModel)]="traject.korteOmschrijving" class="form-control" rows="2"
                id="veldKorteOmschrijving"></textarea>
        </div>
        <div>Lange omschrijving:
        </div>
        <div>
            <textarea [(ngModel)]="traject.omschrijving" class="form-control" rows="3" id="veldOmschrijving"></textarea>
        </div>
        <div>Zichtbaar:
        </div>
        <div><input [(ngModel)]="traject.zichtbaar" type="checkbox" id="checkboxZichtbaar" value="true" />
        </div>
        <div><button id="trajectToevoegen" (click)="createTraject(traject)">Toevoegen</button>
        </div>
    </div>
</div>