.row {
    padding-top: 2.5%;
}
#header {
    background: url("https://www.workingspirit.nl/assets/Uploads/HeaderAfbeeldingen/HH-60257639.jpg") no-repeat center top fixed;
    background-size: cover;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
}
.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}
.textlogo {
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
}
.textlogo p {
    display: inline;
    color: #00aeef;
}
h2 {
    padding: 0;
    margin: 0;
}