<div class="row" id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <a href="https://workingspirit.nl/">
            <img src="https://www.workingspirit.nl/themes/workingspirit/images/beeldmerk.svg"
              alt="Working Spirit beeldmerk">
          </a>
        </div>
        <div class="col-sm-5">
          <h1 class="textlogo">
            Working <br>
            Spirit
            <p>Bootcamp</p>
          </h1>
        </div>
      </div>
      <br><br>
  
      <div class="row">
        <div class="col-sm-4">
          <h2 id="headtext">
              Welkom bij de Working Spirit academy!
          </h2>
        </div>
      </div>
    </div>
  </div>
