.row {
    margin-bottom: 2%;
}

pre {
    background-color: #ffffff;
    border-color: #00aaef;
    min-width: 400px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 0;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: keep-all; 
}

.col-sm-6 {
    padding-left: 0;
}

h5 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

h6 {
    letter-spacing: 1px;
    color: #00aeef;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

textarea {
    min-width: 480px;
    max-width: 480px;
    min-height: 200px;
    max-height: 200px;
    border-color: #00aaef;
    padding: 2%;
    resize: none;
}

button {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 10px;
    margin-bottom: 2px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#bottomrow {
    margin-bottom: 3%;
}