.row{
    padding-top: 5%;
}

#FilterActief {
    margin-right: 1%;
}

#h5{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

#h6{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

#sorteerPijlRol, #sorteerPijlVoornaam,
#sorteerPijlAchternaam, #sorteerPijlActief, #sorteerActiefJa, 
#sorteerActiefNee {
    color: #ffffff;
}

#sorteerPijlRol:hover, #sorteerPijlVoornaam:hover,
#sorteerPijlAchternaam:hover, #sorteerPijlActief:hover, #sorteerActiefJa:hover, 
#sorteerActiefNee:hover {
    cursor: pointer;
}

.rolnaam {
    text-transform: lowercase;
}

.rolnaam::first-letter {
    text-transform: capitalize;
}

#pencil {
    color: #00aeef;
}

.fa-pencil:hover {
    cursor: pointer;
}

#gebruikersTabel {
    margin-top: 1%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  } 

  button{
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#melding {
    min-width: 100%;
}
