<div class="container-fluid" id="Tabel_Gebruiker">
    <div class="row">
        <div class="dropdown" id="FilterActief">
            <div id='FilterKnopGebruiker'><button class="tabelknop">Filteren</button></div>
            <div class="dropdown-content">
                <button class="tabelknop" id='filterActief' (click)="filterTabel('Ja',4)">Filter op actief</button>
                <button class="tabelknop" id='filterNonActief' (click)="filterTabel('Nee',4)">Filter op
                    non-actief</button>
                <button class="tabelknop" id='filter-admin' (click)="filterTabel('Admin',2)"
                    *ngIf="rol !== 'recruiter'">Filter op
                    administrator</button>
                <button class="tabelknop" id='filter-student' (click)="filterTabel('Student',2)">Filter op
                    student</button>
                <button class="tabelknop" id='filter-docent' (click)="filterTabel('Docent',2)">Filter op docent</button>
                <button class="tabelknop" id='filter-recruiter' (click)="filterTabel('Recruiter',2)">Filter op
                    recruiter</button>
                <button class="tabelknop" id='filterAlles' (click)="filterTabel('Alles',2)">Toon alle
                    gebruikers</button>
            </div>
        </div>
        <div>
            <button class="tabelknop" id="gebruikersToevoegen" routerLink="../gebruikers-toevoegen">Gebruiker
                toevoegen</button>
        </div>
        <table id=gebruikersTabel class='table table-bordered'>
            <thead id="table-bottom">
                <tr>
                    <th id='sorteerPijlVoornaam'>Voornaam<i class="fa fa-fw fa-sort" (click)="sorteerTabel(0)">
                        </i></th>
                    <th id='sorteerPijlAchternaam'>Achternaam<i class="fa fa-fw fa-sort" (click)="sorteerTabel(1)"></i>
                    </th>
                    <th id='sorteerPijlRol'>Rol <i class="fa fa-fw fa-sort" (click)="sorteerTabel(2)">
                        </i></th>
                    <th id='sorteerPijlEmailadres'>Emailadres <i class="fa fa fw fa-sort" (click)="sorteerTabel(3)"></i></th>
                    <th id='sorteerPijlActief'>Actief <i class="fa fa-fw fa-sort" (click)="sorteerTabel(4)"></i>
                    </th>
                    <th id='Bewerken'>Bewerken</th>
                    <th id='Verwijderen'>Verwijderen</th>
                </tr>
            </thead>
            <ng-container *ngFor="let Gebruiker of actieveGebruikers, let i=index">
                <tbody>
                    <tr (onCreate)="maakBooleanLijst()" id="tablerow{{Gebruiker.id}}" name="tabelrij"
                        *ngIf="!(rol === 'recruiter' && Gebruiker.rol === 'ADMIN')">
                        <td class="uitlijningRechts" id="voornaam{{Gebruiker.id}}">{{Gebruiker.voornaam}}</td>
                        <td class="uitlijningRechts"id="achternaam{{Gebruiker.id}}">{{Gebruiker.tussenvoegsel}} {{Gebruiker.achternaam}}</td>
                        <td class="uitlijningRechts"id="rol{{Gebruiker.id}}" class="rolnaam">{{Gebruiker.rol}}</td>
                        <td class="uitlijningRechts" id="emailadres{{Gebruiker.id}}">{{Gebruiker.emailadres}}</td>
                        <td class="uitlijningCenter">
                            <ng-template [ngIf]="Gebruiker.actief" [ngIfElse]="nietactief">
                                <div id='actief'>Ja</div>
                            </ng-template>
                            <ng-template #nietactief>
                                <div id='nietactief'>Nee</div>
                            </ng-template>
                        </td>
                        <td class="uitlijningCenter">
                            <div id="pencil" *ngIf="ingelogdeGebruiker.gebruiker_id != Gebruiker.id;">
                                <i class='fa fa-pencil' id="pencil{{Gebruiker.id}}"
                                    routerLink="../gebruiker-wijzigen/{{Gebruiker.id}}"></i>
                            </div>
                        </td>
                        <td class="uitlijningCenter" id="prullenbak">
                            <i class='fa fa-trash' id="trash{{Gebruiker.id}}" (click)="toggle(i);"
                                *ngIf="ingelogdeGebruiker.gebruiker_id != Gebruiker.id"></i>
                        </td>
                    </tr>
                    <tr *ngIf="zichtbaar[i]">
                        <div class="alert alert-danger" role="alert" id="waarschuwing">
                            <div class="col-sm-7" id="verwijdertekst">
                                <p>Weet u zeker dat u '{{Gebruiker.voornaam}}' met de gekoppelde resultaten en
                                    uitwerkingen wilt verwijderen?</p>
                            </div>
                            <div>
                                <button id="verwijderbutton"
                                    (click)="verwijderGebruiker(Gebruiker.id)">Verwijderen</button>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="toggle(i);">&times;</button>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </ng-container>

        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>