<div class="container-fluid" id="Filter_Gebruiker">
    <div class="row">
        <div class="dropdown" id="FilterActief">
            <div id='FilterKnopGebruiker'><button>Filteren</button></div>
            <div class="dropdown-content">
                <button id='filterActief' (click)="filterTabel('Ja',3)">Filter op actief</button>
                <button id='filterNonActief' (click)="filterTabel('Nee',3)">Filter op non-actief</button>
                <button id='filterAdmin' (click)="filterTabel('Admin',2)">Filter op administrator</button>
                <button id='filterStudent' (click)="filterTabel('Student',2)">Filter op student</button>
                <button id='filterDocent' (click)="filterTabel('Docent',2)">Filter op docent</button>
            </div>
        </div>
        <div>
            <button (click)="openToevoegModal('gebruikers-toevoegen-modal')">Toevoegen</button>
        </div>
        <table id=gebruikersTabel class='table table-bordered'>
            <thead id="table-bottom">
                <tr>
                    <th>Voornaam<i id='sorteerPijlVoornaam' class="fa fa-fw fa-sort" (click)="sorteerTabel(0)">
                        </i></th>
                    <th>Achternaam<i id='sorteerPijlAchternaam' class="fa fa-fw fa-sort" (click)="sorteerTabel(1)"></i>
                    </th>
                    <th>Rol <i id='sorteerPijlRol' class="fa fa-fw fa-sort" (click)="sorteerTabel(2)">
                        </i></th>
                    <th>Actief <i id='sorteerPijlActief' class="fa fa-fw fa-sort" (click)="sorteerTabel(3)"></i>
                    </th>
                    <th>Bewerken</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Gebruiker of actieveGebruikers">
                    <td>{{Gebruiker.voornaam}}</td>
                    <td>{{Gebruiker.tussenvoegsel}} {{Gebruiker.achternaam}}</td>
                    <td class="rolnaam">{{Gebruiker.rol}}</td>
                    <td id='actief'>
                        <div *ngIf="Gebruiker.actief; else elseBlock">Ja</div>
                        <ng-template #elseBlock>Nee</ng-template>
                    </td>
                    <td>
                        <div id="pencil">
                            <i class='fa fa-pencil' id="pencil{{Gebruiker.id}}"
                                routerLink="../gebruiker-wijzigen/{{Gebruiker.id}}"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>