.row{
    padding-top: 5%;
}

.borderless td, .borderless th, .borderless tr, .borderless thead, .borderless {
    border-color: transparent !important;
}

#table-bottom,
th {
    background: #ffffff;
    color: #696969;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid;
    border-color: black;    
}

#table-bottom,
td {
    background: #ffffff;
    color: #696969;
    font-size: 15px;
    border: 1px solid;
    text-align: left;
}

.trajectlink {
    cursor: pointer;
    text-decoration: underline;
}

.align {
    vertical-align: middle;
}

button {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#melding {
    min-width: 100%;
}
