<div class="container-fluid" id="Filter_Gebruiker">
    <div class="row">
        <div>
            <button id="openToevoegModal" (click)="openToevoegModal('traject-toevoegen-modal')">Toevoegen</button>
        </div>
        <table class='table table-bordered col-lg-12'>
            <thead id="table-bottom">
                <tr>
                    <th id="thNaam">Traject</th>
                    <th id="thZichtbaar">Zichtbaar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Traject of alleTrajecten">
                    <td id="tdTraject{{Traject.id}}">{{Traject.naam}}</td>
                    <td id="tdZichtbaar{{Traject.id}}">
                        <div *ngIf="Traject.zichtbaar; else elseBlock">Ja</div>
                        <ng-template #elseBlock>Nee</ng-template>
                    </td>
                    <td><a id="pencil" (click)="clickWijzigModal('traject-modal', Traject.id)"><i class='fa fa-pencil'
                                id="tdWijzig{{Traject.id}}"></i></a></td>
                    <td><button id='linkBeheerTrajectFasen' routerLink="../admin-beheer-trajectfasen/{{Traject.id}}" routerLinkActive="active">Traject fasen</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>