<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div>
                <h5>Opdracht: {{opdracht.titel}}</h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h6>Trajectfase: {{opdracht.trajectOnderdeel.naam}}</h6>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div>
                <h6>Omschrijving van de opdracht</h6>
                <p class="display">{{opdracht.omschrijving}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h6>Uitwerking van de opdracht</h6>
            <textarea id="codeinvoer" [(ngModel)]="uitwerking.resultaat" placeholder="Voer code in" required></textarea>
        </div>
        <div class="col-sm-6">
            <h6>Codevoorbeeld van de opdracht</h6>
            <pre>{{opdracht.codevoorbeeld}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="submit" (click)="verstuurUitwerking(uitwerking);" id="submitbutton">Verzenden</button>
        </div>
    </div>
</div>