#mainbody {
    padding-top: 5%;
    background: #ffffff;
    color: #808080;
    font-size: 15px;
    margin-bottom: 3%;
}
.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}
.row {
    padding-top: 2.5%;
}
.titel{
    font-size: 32px;
    color: #808080;
    font-weight: 400;
    text-align: right;
}
.titel2 {
    font-size: 32px;
    color: #808080;
    font-weight: 400;
    text-align: left;
}
.subTitel{
    font-size: 32px;
    color: #808080;
    font-weight: 400;
    text-align: left;
}
table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    font-variant: normal;
    border-block-color: white;
}
td{
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-top-width: 1pt;
    border-right-width: 1pt;
    vertical-align: top;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    max-width: 618px;
    min-width: 618px;
    border-bottom-style: solid;
}
pre{
    max-width: 940px;
    overflow-y: auto;
    // text-overflow: inherit;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    
}
button{
    border-color: #00aeef;
    color: #00aeef;
    width: 30%;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}