<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.workingspirit.nl/themes/workingspirit/images/beeldmerk_blue.png" alt="logo"
                id="navbarBrand">
        </a>
        <nav>

            <ul class="navbar-nav">
                <li class="nav-item" id="CorporateButton">
                    <a class="nav-link" href="https://www.workingspirit.nl/corporate/" id="Corporate">
                        Corporate
                    </a>
                </li>
                <li class="nav-item" id="GebruikerButton">
                    <a class="nav-link" *ngIf="ingelogd && rol === 'admin'" (click)="navigeerNaar('admin');" id="Admin">
                        Admin
                    </a>
                    <a class="nav-link" *ngIf="ingelogd && rol === 'docent'" (click)="navigeerNaar('docent');" id="Docent">
                        Docent
                    </a>
                    <a class="nav-link" *ngIf="ingelogd && rol === 'recruiter'" (click)="navigeerNaar('recruiter');" id="Recruiter">
                        Recruiter
                    </a>
                    <a class="nav-link" *ngIf="ingelogd && rol === 'student'" (click)="navigeerNaar('student');" id="Student">
                        Student
                    </a>
                </li>
                <li class="nav-item" id="DetacheringButton">
                    <a class="nav-link" href="https://www.workingspirit.nl/detachering/" id="Detachering">
                        Detachering
                    </a>
                </li>
                <li class="nav-item" id="ContactButton">
                    <a class="nav-link" href="https://www.workingspirit.nl/contact/" id="Contact">
                        Contact
                    </a>
                </li>
                <li class="nav-item" id="WerkenbijButton">
                    <a class="nav-link" href="https://www.workingspirit.nl/werken-bij-working-spirit/" id="Werkenbij">
                        Werken bij
                    </a>
                </li>
                <li class="nav-item" id="LoginButton">
                    <a class="nav-link" *ngIf="!ingelogd" (click)="openModal('login-modal')" id="Login">
                        Login
                    </a>
                    <a class="nav-link" *ngIf="ingelogd" (click)="navigeerNaar('profiel')" id="ProfielButton">
                        <i class="fa fa-user-circle" aria-hidden="true" id="user-icon"></i>
                    </a>
                </li>
                <div class="dropdown" id="nav-hamburger">
                    <div id='hamburger'></div>
                    <div id='hamburger'></div>
                    <div id='hamburger'></div>
                    <div class="dropdown-content">
                        <a class="nav-link" *ngIf="ingelogd" (click)="navigeerNaar('profiel')"
                            id="ProfielButtonHamburger">
                            Profiel
                        </a>
                        <a class="nav-link" *ngIf="ingelogd && rol === 'admin'" (click)="navigeerNaar('admin');" 
                            id="AdminButtonHamburger">
                            Admin
                        </a>
                        <a class="nav-link" *ngIf="ingelogd && rol === 'docent'" (click)="navigeerNaar('docent');" 
                            id="DocentButtonHamburger">
                            Docent
                        </a>
                        <a class="nav-link" *ngIf="ingelogd && rol === 'recruiter'" (click)="navigeerNaar('recruiter');" 
                            id="RecruiterButtonHamburger">
                            Recruiter
                        </a>
                        <a class="nav-link" *ngIf="ingelogd && rol === 'student'" (click)="navigeerNaar('student');" 
                            id="StudentButtonHamburger">
                            Student
                        </a>
                        <a id="CorporateHamburger" class="nav-link hamburgerButton"
                            href="https://www.workingspirit.nl/corporate/">
                            Corporate
                        </a>
                        <a id="DetacheringHamburger" class="nav-link hamburgerButton"
                            href="https://www.workingspirit.nl/detachering/">
                            Detachering
                        </a>
                        <a id="ContactHamburger" class="nav-link hamburgerButton"
                            href="https://www.workingspirit.nl/contact/">
                            Contact
                        </a>
                        <a id="WerkenbijHamburger" class="nav-link hamburgerButton"
                            href="https://www.workingspirit.nl/werken-bij-working-spirit/">
                            Werken bij
                        </a>
                        <a class="nav-link" *ngIf="!ingelogd" (click)="openModal('login-modal')"
                            id="LoginHamburger">
                            Login
                        </a>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</nav>

<div class="row">
    <div class="spinner col-sm-2 fixed-top">
        <ngx-spinner id="spinner" name="laadspinner" [fullScreen]="false"></ngx-spinner>
    </div>
</div>

<jw-modal class="jw-modal" id="login-modal">
    <h1>Login</h1>
    <p>Voer uw e-mailadres en wachtwoord in om in te loggen.</p>

    <form [formGroup]="loginform">
        <fieldset>
            <div class="form-field">
                <input name="emailadres" formControlName="emailadres" placeholder="E-mailadres">
            </div>
            <div class="form-field">
                <input name="wachtwoord" formControlName="wachtwoord" type="password" placeholder="Wachtwoord"
                    maxlength="25">
            </div>
        </fieldset>
        <div>
            <button id="LoginButton" class="button button-primary" (click)="login()">Login</button>
            <button id="SluitenButton" class="button button-primary" (click)="closeModal('login-modal');">Sluiten</button>
        </div>
    </form>
    <div id="vergetenWachtwoord">
        <a id="vergetenWachtwoordText" (click)="toggleVergeten();">Wachtwoord vergeten?</a>
    </div>
    <div id="wwvergetendiv" *ngIf="vergeten">
        <p>Voer uw e-mailadres in:</p>
        <input [(ngModel)]="emailgebruiker" name="email" id="emailInput" placeholder="E-mailadres"
            (keydown)="keyDownFunction($event)">
        <button class="button button-primary" (click)="wachtwoordVergeten();">Verzenden</button>
    </div>
    <div id="melding">
        <alert id="alert-1"></alert>
    </div>
</jw-modal>