.navbar {
    background-color: #ffffff;
    height: 5.5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item .nav-link {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
}

.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}

#navbarBrand{
    width: 45px;
}

li a {
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    color: #00aeef;
    border-radius: 0%;
    border: none;
    background-color: #ffffff;
    font-size: 10px;
    margin-left: 6em;
}

.nav-link:hover {
    display: block;
    cursor: pointer;
    border-radius: 0%;
    background-color: #00aeef;
    color: #ffffff;
}

#LoginButton:hover {
    color: #ffffff;
}

#LogoutButton:hover {
    color: #ffffff;
}


 #hamburger {
    width: 35px;
    height: 4px;
    background-color: #00aeef;
    margin: 4px 0;
 }

  @media (min-width: 1050){
    .nav-hamburger {
       visibility: hidden;
       position: fixed;
       padding-top: 7px;
       padding-bottom: 7px;
        
    }
    
}
