.navbar {
    background-color: #ffffff;
    height: 5.5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item .nav-link {
    padding-top: 14px;
    padding-bottom: 14px;
}

.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}

#navbarBrand{
    width: 45px;
}

li a {
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    color: #00aeef;
    border-radius: 0%;
    border: none;
    background-color: #ffffff;
    font-size: 10px;
    margin-left: 6em;
}

.nav-link:hover {
    display: block;
    cursor: pointer;
    border-radius: 0%;
    background-color: #00aeef;
    color: #ffffff;
}

#LoginButton:hover {
    color: #ffffff;
}

#LogoutButton:hover {
    color: #ffffff;
}
