<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            Welkom!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom bij de Working Spirit academy. Login voor meer informatie over jouw traject!
                Nog geen deelnemer van een traject, bekijk hieronder de trajecten die lopen of nog gaan starten.
            </p>
        </div>
    </div>
    <div class="row" *ngFor="let Traject of zichtbaarTrajecten">
        <div class="col-md-4 col-xs-24">
            <div id="background" class="home-banner"
                style="background-image: url('https://www.workingspirit.nl/assets/HH-40894461.jpg')">
                <a (click)="gaNaarTrajectInformatie(Traject)">
                    <div class="caption" id="caption">
                        <span class="catagory"></span>
                        <h4 id="trajectNaam{{Traject.id}}">
                            {{Traject.naam}}
                        </h4>
                        <p>
                            Klik voor meer informatie.
                        </p>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-md-5">
            <div *ngIf="zichtbaarTrajecten.length > 1; else elseBlock">
                <p id="trajectKorteOmschrijving{{Traject.id}}">
                    {{Traject.korteOmschrijving}}
                </p>
            </div>
            <ng-template #elseBlock>
                <p id="trajectOmschrijving{{Traject.id}}">
                    {{Traject.omschrijving}}
                </p>
            </ng-template>
        </div>
    </div>
</div>