.container-fluid {
    margin-top: 5%;
    padding-left: 19%;
    padding-right: 19%;
    margin-bottom: 3%;
}
.row{
    padding-top: 2%;
}

h6 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

#pencil {
    color: #00aeef;
}

#pencil:hover{
    cursor: pointer;
}
