<div class="row">
    <div class="container-fluid" id="mainbody">
        <div class="row">
            <div id=h6 class="col-sm-3">
                Alle gebruikers
            </div>
            <div>
            <table class='table table-bordered col-lg-10'>
                <thead id="table-bottom">
                    <tr>
                      <th>Id</th>
                      <th>Voornaam</th>
                      <th>Tussenvoegsel</th>
                      <th>Achternaam</th>
                      <th>Emailadres</th>
                      <th>Rol</th>
                      <th>Actief</th>
                      <th>Bewerken</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Gebruiker of actieveGebruikers">
                      <td id='gebruikerID'>{{Gebruiker.id}}</td>
                      <td >{{Gebruiker.voornaam}}</td>
                      <td >{{Gebruiker.tussenvoegsel}}</td>
                      <td >{{Gebruiker.achternaam}}</td>
                      <td >{{Gebruiker.emailadres}}</td>
                      <td >{{Gebruiker.rol}}</td>
                      <td>
                        <div *ngIf="Gebruiker.actief; else elseBlock">Ja.</div>
                        <ng-template #elseBlock>Nee.</ng-template>
                      </td>
                      <td>   
                        <a value="Gebruiker.id" (click)="openModal('gebruikers-modal', this.value)">Open Modal 1</a>
                    </td>
                    </tr>
                </tbody>
            </table>
          </div>
        <div>
            
        <jw-modal class="jw-modal" id="gebruikers-modal">
            <div class="row" >
                <div class="col-sm-11">
                    <div>Id:</div>
                    <div>
                        <input [(ngModel)]="this.id" type="text" class="form-control" value={{gebruikerInvoer.id}} placeholder="{{this.value}}"/>
                    </div>
        
                </div>
                <div class="col-sm-11">
                    <div>Voornaam:</div>
                    <div>
                        <input [(ngModel)]="this.voornaam" type="text" class="form-control" />
                    </div>
        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div>Tussenvoegsel:</div>
                    <div>
                        <input [(ngModel)]="this.tussenvoegsel" type="text" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div>Achternaam:</div>
                    <input [(ngModel)]="this.achternaam" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div>Rol:</div>
                    <div>
                        <input [(ngModel)]="this.rol" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div>Actief:</div>
                    <div>
                        <textarea [(ngModel)]="this.actief" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                        <button (click)="wijzigGebruiker(Gebruiker,Gebruiker.id)">Opslaan</button>
                        <button >Verwijderen</button>
                </div>
            </div>
            <button (click)="closeModal('gebruikers-modal');">Sluiten</button>
        </jw-modal>
      </div>
      </div>
        