<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-6">
            Welkom recruiter!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom {{gebruiker.displaynaam}} op de academy.
                Klik hieronder op Trajecten om deze te beheren.
            </p>
            <br>
            <button id='linkBeheerTrajecten' [routerLink]="'./beheer-traject'">Trajecten</button><br>
            <button id='linkBeheerTrajecten' [routerLink]="'./beheer-gebruikers'">Gebruikers beheren</button><br>
            <button id='linkBeheerTrajecten' [routerLink]="'./beheer-assessments'">Assessments</button><br>
        </div>
    </div>
</div>


<router-outlet></router-outlet>