<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.workingspirit.nl/themes/workingspirit/images/beeldmerk_blue.png" alt="logo"
                id="navbarBrand">
        </a>
        <nav>
            <ul class="navbar-nav">
                <li class="nav-item" id="HomeButton">
                    <a class="nav-link" (click)="navigeerNaar('home');" id="Home">
                        Home
                    </a>
                </li>
                <li class="nav-item" id="GebruikerPagina">
                    <a class="nav-link" *ngIf="rol === 'admin'" (click)="navigeerNaar('admin');" id="Adminpagina">
                        Admin
                    </a>
                    <a class="nav-link" *ngIf="rol === 'docent'" (click)="navigeerNaar('docent');" id="Docentpagina">
                        Docent
                    </a>
                    <a class="nav-link" *ngIf="rol === 'student'" (click)="navigeerNaar('student');" id="Studentpagina">
                        Student
                    </a>
                    <a class="nav-link" *ngIf="rol === 'recruiter'" (click)="navigeerNaar('recruiter');"
                        id="Recruiterpagina">
                        Recruiter
                    </a>
                </li>
                <li class="nav-item" id="TerugButton">
                    <a class="nav-link" (click)="terug();" id="TerugKnop">
                        Terug
                    </a>
                </li>
                <li class="nav-item" id="LogButton">
                    <a class="nav-link" (click)="logout()" id="LogoutButton">
                        Logout
                    </a>
                </li>
                <li class="nav-item" id="ProfielButton">
                    <a class="nav-link" id="ProfielKnop" (click)="navigeerNaar('profiel');">
                        <i class="fa fa-user-circle" aria-hidden="true" id="user-icon"></i>
                    </a>
                </li>
                <div class="dropdown" id="nav-hamburger">
                    <div id='hamburger'></div>
                    <div id='hamburger'></div>
                    <div id='hamburger'></div>
                    <div class="dropdown-content">
                        <a class="nav-link hamburgerButton" (click)="navigeerNaar('home');" id="HomeHamburger">
                            Home
                        </a>
                        <a class="nav-link hamburgerButton" *ngIf="rol === 'admin'" (click)="navigeerNaar('admin');" id="AdminpaginaHamburger">
                            Admin
                        </a>
                        <a class="nav-link hamburgerButton" *ngIf="rol === 'docent'" (click)="navigeerNaar('docent');" id="DocentpaginaHamburger">
                            Docent
                        </a>
                        <a class="nav-link hamburgerButton" *ngIf="rol === 'student'" (click)="navigeerNaar('student');" id="StudentpaginaHamburger">
                            Student
                        </a>
                        <a class="nav-link hamburgerButton" *ngIf="rol === 'recruiter'" (click)="navigeerNaar('recruiter');" id="RecruiterpaginaHamburger">
                            Recruiter
                        </a>
                        <a class="nav-link hamburgerButton" (click)="terug();" id="TerugKnopHamburger">
                            Terug
                        </a>
                        <a class="nav-link hamburgerButton" (click)="logout()" id="LogoutButtonHamburger">
                            Logout
                        </a>
                        <a id="ProfielHamburger" class="nav-link hamburgerButton" (click)="navigeerNaar('profiel');">
                            Profiel
                        </a>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</nav>
