.container-fluid {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 19%;
    padding-right: 19%;
}

.row{
    padding-top: 2%;
}

#resultaattitel {
    padding-left: 0;
}

h5 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

.grijs {
    background-color: rgba($color: #a9a9a9, $alpha: 0.05);
    padding-bottom: 2%;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
    margin-bottom: 1%;
}

#assessmentkeuze, #gebruikerkeuze {
    width: 100%;
    border-radius: 0;
}

#resultaatinvoer {
    width: 100%;
    min-height: 150px;
    border-radius: 0;
    resize: none;
}

button{
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}