<div class="container-fluid" id="Filter_Gebruiker">
        <div class="row">
            <div>
                <button id="openToevoegModalSelectieFase" (click)="openToevoegModalSelectieFase('trajectFase-toevoegen-modal')">Toevoegen selectiefase</button>
            </div>
            <table class='table table-bordered col-lg-12'>
                <thead id="table-bottom">
                    <tr>
                        <th id="thNaamSelectieFase">Selectiefase</th>
                        <th id="thOmschrijfingSelectieFase">Omschrijving</th>
                        <th id="thStartdatum">Startdatum</th>
                        <th id="thTijdstip">Tijdstip</th>
                        <th id="thBewerkenSelectieFase">Bewerken</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let SelectieFase of alleSelectieFasen">
                        <td id="tdSelectieFase{{SelectieFase.id}}">{{SelectieFase.naam}}</td>
                        <td id="tdOmschrijving{{SelectieFase.id}}">{{SelectieFase.omschrijving}}</td>
                        <td id="tdStartdatum{{SelectieFase.id}}">{{SelectieFase.startdatum}}</td>
                        <td id="tdTijdstip{{SelectieFase.id}}">{{SelectieFase.tijdstip}}</td>
                        <td><a id="pencil" (click)="clickWijzigModal('trajectFase-wijzig-modal', SelectieFase.id)"><i class='fa fa-pencil'
                                    id="tdWijzig{{SelectieFase.id}}"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>