<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div id=h6 class="col-sm-3">
                Welkom admin!
            </div>
            <div class="col-sm-6">
                <p>
                    Welkom {{gebruiker.displaynaam}} op de academy. Klik hieronder op het onderwerp om het te beheren. 
                    Bijvoorbeeld om nieuwe trajecten te maken of te wijzigen. 
                </p>
                <br>
                <button id='linkBeheerTrajecten' [routerLink]="'./admin-beheer-traject/'">Trajecten</button><br>
                <button id='linkBeheerGebruikers' [routerLink]="'./admin-beheer-gebruikers'">Gebruikers</button><br>
                <button id="linkBeheerAssessments" [routerLink]="'./admin-beheer-assessments'">Assessments</button><br>
            </div>
        </div>
    </div>
</div>
