.container-fluid {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 19%;
    padding-right: 19%;
}
.row{
    margin-top: 2%;
}

h5 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

h6 {
    letter-spacing: 1px;
    color: #00aaef;
    font-size: 16px;
    font-weight: normal;
    margin-top: 7.5px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

.grijs {
    background-color: rgba($color: #a9a9a9, $alpha: 0.05);
    padding-top: 2%;
    padding-bottom: 4%;
}

.dashboard {
    margin-left: 45%;
}

img {
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #00aeef;
}

img:hover {
    cursor: pointer;
}

button{
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}