<div class="container-fluid" id="opdrachtform">
    <div class="row">
        <h6>Nieuwe opdracht aanmaken</h6>
    </div>
    <div class="row">
        <div><p>Titel</p></div>
        <div>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div><p>Omschrijving</p></div>
        <div>
            <textarea>

            </textarea>
        </div>
    </div>
    <div class="row">
        <div><p>Kies trajectfase</p></div>
        Dropdownmenukiezer
    </div>
    <div class="row">
        <div><p>Zichtbaar</p></div>
        <input type="checkbox">
    </div>
</div>