<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h5>Assessments beheren</h5>
        </div>
        <div class="col-sm-8">
            <p>
                Hier kunt u assessment beheren. Deze assessments zijn een hulpmiddel tijdens de selectieprodecure
                en geven een beeld van de kandidaten. Zo wordt het eenvoudiger om uiteindelijk de juist
                kandidaten voor het traject te selecteren.
            </p>
        </div>
    </div>
    <!-- Tabel waarin alle assessments worden geladen -->
    <wsa-assessment-tabel></wsa-assessment-tabel>
</div>
