.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}

.row{
    padding-top: 5%;
}
#titel{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    text-align: right;
}