.container-fluid {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 19%;
    padding-right: 19%;
}

.row{
    padding-top: 2%;
}

#h6{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}