<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            {{traject.naam}}
        </div>
        <div class="col-sm-6">
            <p>
                Controleer hier alle resultaten van de studenten.
            </p>
        </div>
    </div>
    <div class="row">
        Tabel met resultaten.
        <table class="table table-bordered col-lg-12">
            <thead id="table-bottom">
                <tr>
                    <th id="Resultaat">Resultaat</th>
                    <th id="Opdracht">Opdracht</th>
                    <th id="Gebruiker">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Uitwerking of uitwerkingenlijst">
                    <td id="Resultaat{{Uitwerking.id}}">{{Uitwerking.resultaat}}</td>
                    <td id="Opdracht{{Uitwerking.id}}">{{Uitwerking.opdracht.titel}}</td>
                    <td id="Gebruiker{{Uitwerking.id}}">{{Uitwerking.gebruiker.voornaam}}
                        {{Uitwerking.gebruiker.achternaam}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>