<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            {{traject.naam}}
        </div>
        <div class="col-sm-9">
            <p id="tekstObject.id" [innerHTML]="tekstObject.tekst | linkify"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" id="buttondiv">
            <button id="resultaatknop" (click)="navigeerNaar('resultaat-invoeren');">Resultaat toevoegen</button>
        </div>

        <div class="col-sm-9" id="filterdiv">
            <input id="filterinvoer" [(ngModel)]="filterwaarde" (keyup)="filterStudenten(filterwaarde);"
                placeholder="Filter studenten...">
        </div>

    </div>
    <div class="row">
        <table class="table table-bordered col-lg-12" id="uitwerkingtabel">
            <thead id="table-bottom">
                <tr>
                    <th id="Gebruiker">
                        Student
                        <i id='sorteerPijlVoornaam' class="fa fa-fw fa-sort" (click)="sorteerTabel(0)"></i>
                    </th>
                    <th id="Opdracht">
                        Opdracht
                        <i id='sorteerPijlOpdracht' class="fa fa-fw fa-sort" (click)="sorteerTabel(1)"></i>
                    </th>
                    <th id="Resultaat">Resultaat</th>
                    <th id="Download">PDF</th>
                    <th id="Wijzigen">Wijzig</th>
                    <th id="Verwijder">Verwijder</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let Uitwerking of uitwerkingenlijst; let i = index;">
                    <tr (onCreate)="maakBooleanLijst();">
                        <td id="Gebruiker{{Uitwerking.id}}">
                            {{Uitwerking.gebruiker.voornaam}}
                            {{Uitwerking.gebruiker.tussenvoegsel}}
                            {{Uitwerking.gebruiker.achternaam}}
                        </td>
                        <td id="Opdracht{{Uitwerking.id}}">{{Uitwerking.opdracht.titel}}</td>
                        <td id="Resultaat{{Uitwerking.id}}">{{Uitwerking.resultaat}}</td>
                        <td>
                            <div id="download" *ngIf="Uitwerking.byteString !== null">
                                <i class="fa fa-download" id="download{{Uitwerking.id}}"
                                    (click)="downloadPdf(Uitwerking);"></i>
                            </div>
                        </td>
                        <td>
                            <div id="pencil">
                                <i class='fa fa-pencil' id="pencil{{Uitwerking.id}}"
                                    (click)="setTrajectId(); naarWijzigPagina(Uitwerking.id);"></i>
                            </div>
                        </td>
                        <td>
                            <div id="prullenbak">
                                <i class='fa fa-trash' id="verwijder{{Uitwerking.id}}" (click)="toggle(i);"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="zichtbaar[i]">
                        <div class="alert alert-danger" role="alert" id="waarschuwing">
                            <div class="col-sm-7" id="verwijdertekst">
                                <p>Weet u zeker dat u het resultaat van '{{Uitwerking.gebruiker.voornaam}}
                                    {{Uitwerking.gebruiker.tussenvoegsel}} {{Uitwerking.gebruiker.achternaam}}' wilt
                                    verwijderen?</p>
                            </div>
                            <button id="verwijderbutton" (click)="verwijderResultaat(Uitwerking);">Verwijderen</button>
                            <button type="button" class="close" aria-label="Close" (click)="toggle(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>