.container-fluid {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 19%;
    padding-right: 19%;
}

.row{
    padding-top: 2%;
}

.col-sm-3 {
    padding-left: 0;
}

#buttondiv {
    padding-left: 0;
    margin-bottom: 1%;
}

#filterdiv {
    padding-right: 0;
}

#h6{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

#filterinvoer {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #00aeef;
    width: 100%;
}

#filterinvoer:focus {
    outline: none;
    font-size: 14px;
    border-bottom: 2px solid #00aeef;
    transition: 50ms;
}

#filterinvoer:focus::placeholder {
    color: #00aeef;
}

table { 
    table-layout:fixed;
}

#sorteerPijlVoornaam, #sorteerPijlOpdracht {
    color: #ffffff;
    cursor: pointer;
}

#pencil, #download {
    padding-left: 10px;
    color: #00aeef;
}

.fa-pencil:hover, .fa-download:hover,
.fa-trash:hover {
    cursor: pointer;
}

#prullenbak {
    padding-left: 20px;
    color: #00aeef;
}

#waarschuwing {
    width: 990px;
    max-width: 990px;
    margin-bottom: 0;
    overflow: auto;
}

#verwijdertekst {
    margin-top: 1.2%;
}

#waarschuwing button {
    margin-left: 5%;
}

#verwijderbutton {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

#verwijderbutton:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#resultaatknop {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

#resultaatknop:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#melding {
    width: 100%;
}