#sorteerPijlOpdracht {
    color: #ffffff;
}

#sorteerPijlOpdracht:hover, #sorteerPijlInleverdatum:hover {
    cursor: pointer;
}

h6 {
    letter-spacing: 1px;
    color: #00aeef;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

button {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2%;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#notificatie {
    float: right;
}

.fa-exclamation-circle {
    background-color: #ffffff;
    color: red;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    padding-right: 2px;
    padding-bottom: 2px;
    height: 12px;
    width: 12px;
}

#melding {
    min-width: 100%;
}
