<div class="row">
    <div>
        <h6>Uitwerkingen van {{student.voornaam}}</h6>
    </div>
</div>
<div class="row">
    <table id="uitwerkingenlijst" class="table table-bordered">
        <thead id="table-bottom">
            <tr>
                <th>Opdracht<i class="sorteer" id='sorteerPijlOpdracht' class="fa fa-fw fa-sort"
                        (click)="sorteerTabel(0)"></i></th>
                <th>Inleverdatum<i class="sorteer" id='sorteerPijlInleverdatum' class="fa fa-fw fa-sort"
                        (click)="sorteerTabel(1)"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="uitwerkingrow" *ngFor="let Uitwerking of student.uitwerkingen">
                <td>{{Uitwerking.opdracht.titel}}</td>
                <td>{{Uitwerking.inleverTijdstip | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td>
                    <button id="uitwerking{{Uitwerking.id}}" (click)="naarUitwerking(Uitwerking);">Bekijk uitwerking
                        <div id="notificatie" *ngIf="!Uitwerking.gelezen">
                            <i class="fa fa-exclamation-circle" title="Nieuwe uitwerking beschikbaar"
                                aria-hidden="true"></i>
                        </div>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="melding">
        <alert id="alert-1"></alert>
    </div>
</div>