<div class="row">
    <div>
        <h6>Uitwerkingen van {{student.voornaam}}</h6>
    </div>
</div>
<div class="row">
    <table id="uitwerkingenlijst" class="table table-bordered">
        <thead id="table-bottom">
            <tr>
                <th>Opdracht<i id='sorteerPijlOpdracht' class="fa fa-fw fa-sort" (click)="sorteerTabel(0)"></i></th>
                <th>Inleverdatum<i id='sorteerPijlInleverdatum' class="fa fa-fw fa-sort" (click)="sorteerTabel(1)"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Uitwerking of student.uitwerkingen">
                <td>{{Uitwerking.opdracht.titel}}</td>
                <td>{{Uitwerking.inleverTijdstip | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td>
                    <button (click)="naarUitwerking(Uitwerking);">Bekijk uitwerking</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>