<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h5>Mijn overzicht</h5>
        </div>
        <div class="col-sm-9">
            <p>Door op jouw traject te klikken kun je zien wie je medestudenten voor desbetreffend traject zijn.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div>
                    <h6>Jouw traject</h6>
                    <p>{{traject.naam}}</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <h6>Medestudenten</h6>
                    <table id="studentenlijst" class="table table-bordered">
                        <thead id="table-bottom">
                            <tr>
                                <th>Voornaam<i id='sorteerPijlVoornaam' class="fa fa-fw fa-sort"
                                        (click)="sorteerTabel(0)"></i></th>
                                <th>Achternaam<i id='sorteerPijlAchternaam' class="fa fa-fw fa-sort"
                                        (click)="sorteerTabel(1)"></i>
                                </th>
                                <th>E-mailadres<i id='sorteerPijlEmail' class="fa fa-fw fa-sort"
                                        (click)="sorteerTabel(1)"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Gebruiker of studenten">
                                <td>{{Gebruiker.voornaam}}</td>
                                <td>{{Gebruiker.tussenvoegsel}} {{Gebruiker.achternaam}}</td>
                                <td>{{Gebruiker.emailadres}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="melding">
                        <alert id="alert-1"></alert>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h6>Resultaten assessments</h6>
            <p>Lijst met assessmentresultaten.</p>
        </div>
    </div>
</div>