<div class="container-fluid">

    <!-- achtergrondafbeelding met titel -->
    <div class="row">
        <div class="landingspage-header">
            <div class="container" id="background">
                <h6 id="afbeelding{{this.traject.id}}">
                    {{this.traject.naam}}
                </h6>
            </div>
        </div>
    </div>

    <!-- Traject informatie  -->
    <div class="row">
        <div class="col-sm-4" id="titel">
            {{this.traject.naam}}
        </div>
        <div class="col-sm-8" id="text">
            <p>{{this.traject.omschrijving}}</p>
        </div>
    </div>

    <!-- Agenda van het traject -->
    <div class="row">
        <div class="col-sm-4" id="titel">
            Agenda
        </div>
        <div class="col-sm-8" id="Agenda">
            <table class="table table-bordered" id="trajectonderdeelTabel">
                <thead id="tabel-headers">
                    <tr>
                        <th id="Datum">Datum</th>
                        <th id="Informatie">Informatie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Trajectonderdeel of traject.trajectOnderdelen" id="row{{Trajectonderdeel.id}}">
                        <td>{{Trajectonderdeel.startdatum | date:'dd-MM-yyyy HH:mm'}}</td>
                        <td>{{Trajectonderdeel.naam}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Selectiefases behorend bij het traject -->
    <div class="row" *ngFor="let Trajectonderdeel of traject.trajectOnderdelen">
        <div class="col-sm-4" id="titel">
            {{Trajectonderdeel.naam}}
        </div>
        <div class="col-sm-8" id="text">
            <p>{{Trajectonderdeel.omschrijving}}</p>
        </div>
    </div>
    <div class="row"></div>
</div>