<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            Welkom!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom bij de Working Spirit academy. Klik op onderstaande links om in te loggen.
                Log in als:
            </p>
            <a id=linktekst [routerLink]="'/admin'">admin</a><br>
            <a id=linktekst [routerLink]="'/student'">student</a><br>
            <a id=linktekst [routerLink]="'/docent'">docent</a><br>
        </div>
    </div>
    <div class="row">
        <div id=h6 class="col-sm-3">
            Lopende trajecten
        </div>
        <div class="col-sm-6">
            <table >
                <thead id="table-bottom">
                    <tr>
                      <th>Traject</th>
                      <th>Omschrijving</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Traject of zichtbaarTrajecten">
                      <td id="tdNaam">{{Traject.naam}}</td>
                      <td id="tdOmschrijving">{{Traject.omschrijving}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>