<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            Welkom!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom bij de Working Spirit academy. Login voor meer informatie over jouw traject!
                Nog geen deelnemer van een traject, bekijk hieronder de trajecten die lopen of nog gaan starten. 
            </p>
        </div>
    </div>
    <div class="row">
        <div id=h6 class="col-sm-3">
            Lopende trajecten
        </div>
        <div class="col-sm-6">
            <table>
                <thead id="table-bottom">
                    <tr>
                        <th id="thNaam">Traject</th>
                        <th id="thZichtbaar">Omschrijving</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Traject of zichtbaarTrajecten">
                        <td id="tdTraject{{Traject.id}}">{{Traject.naam}}</td>
                        <td id="tdOmschrijving{{Traject.omschrijving}}">{{Traject.omschrijving}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>