<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            Welkom!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom bij de Working Spirit academy. Login voor meer informatie over jouw traject!
                Nog geen deelnemer van een traject, bekijk hieronder de trajecten die lopen of nog gaan starten.
            </p>
        </div>
    </div>
    <div class="row" *ngFor="let Traject of zichtbaarTrajecten">
        <div id="h6" class="col-sm-3">
            <div id="trajectNaam{{Traject.id}}">
                {{Traject.naam}}
            </div>
        </div>
        <div class="col-sm-6">
            <div *ngIf="zichtbaarTrajecten.length > 1; else elseBlock">
                <p id="trajectKorteOmschrijving{{Traject.id}}">
                    {{Traject.korteOmschrijving}}
                </p>
            </div>
            <ng-template #elseBlock>
                <p id="trajectOmschrijving{{Traject.id}}">
                    {{Traject.omschrijving}}
                </p>
            </ng-template>
        </div>
    </div>
</div>