<wsa-trajectfase-tabel></wsa-trajectfase-tabel>

<jw-modal class="jw-modal2" id="trajectfase-modal">
    <h1>Wijzig traject</h1>
    <div class="row">
        <div class="col-sm-12">
            <div>Naam:</div>
            <div>
                <input [(ngModel)]="wijzigTraject.naam" type="text" class="form-control" id="veldTrajectModal" />
            </div>
        </div>
        <div class="col-sm-12">
            <div>Korte omschrijving:</div>
            <div>
                <textarea [(ngModel)]="wijzigTraject.korteOmschrijving" class="form-control" rows="2"
                    id="veldKorteOmschrijvingTrajectModal"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div>Lange omschrijving:</div>
            <div>
                <textarea [(ngModel)]="wijzigTraject.omschrijving" class="form-control" rows="3"
                    id="veldOmschrijvingTrajectModal "></textarea>
            </div>
        </div>
        <div class="col-sm-12">
            <div>Zichtbaar:</div>
            <div>
                <input [(ngModel)]="wijzigTraject.zichtbaar" type="checkbox" id="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id='trajectOpslaanModal'
                (click)="updateTraject(wijzigTraject); closeModal('traject-modal');">Opslaan</button>
            <button id='trajectSluitModal' (click)="closeModal('traject-modal');">Annuleren</button>
        </div>
    </div>
</jw-modal>


<jw-modal class="jw-modal2" id="traject-toevoegen-modal">
    <h1>Voeg een traject toe</h1>
    <div class="row">
        <div class="col-sm-12">
            <div>Traject fase naam:</div>
            <div>
                <input [(ngModel)]="nieuweFase.naam" type="text" class="form-control" id="veldSelectieFaseNaamToevoegen" />
            </div>
        </div>
            <div class="col-sm-12">
                <div>Omschrijving:</div>
                <div>
                    <textarea [(ngModel)]="nieuweFase.omschrijving" class="form-control" rows="3"
                        id="veldSelecteFaseOmschrijvingToevoegen"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="selectieFaseToevoegen" (click)="maakNieuwSelectieFase(nieuweFase)">Toevoegen</button>
                <button id='selectieFaseSluitModal' (click)="closeModal('traject-toevoeg-modal');">Annuleren</button>
            </div>
        </div>
</jw-modal>
