<div class="row">
    <div class="col-sm-6" id="buttondiv">
        <button id="toevoegbutton" routerLink="../aantekening-aanmaak/{{traject_id}}">Aantekening toevoegen</button>
    </div>
</div>
<div class="row">
    <div id="aantekeningentabel">
        <table class="table table-bordered">
            <thead id="table-bottom">
                <tr>
                    <th id="titel">Titel</th>
                    <th id="dag">Dag</th>
                    <th id="wijzigen">Wijzig</th>
                    <th id="verwijderen">Verwijder</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let Aantekening of aantekeningen; let i = index;">
                    <tr (onCreate)="maakBooleanLijst();">
                        <td id="titel{{Aantekening.id}}"><span class="aantekeningtitel"
                                id="aantekeningtitel{{Aantekening.id}}" title="Toon aantekeninginformatie"
                                (click)="toggleOmschrijving(i);">{{Aantekening.titel}}</span>
                        </td>
                        <td id="dag{{Aantekening.id}}">{{Aantekening.dag | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <div id="pencil">
                                <i class='fa fa-pencil' id="pencil{{Aantekening.id}}"
                                    (click)="wijzigAantekening(Aantekening);" routerLink="../aantekening-wijzig"></i>
                            </div>
                        </td>
                        <td>
                            <div id="prullenbak">
                                <i class='fa fa-trash' id="verwijder{{Aantekening.id}}" (click)="toggle(i);"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="toonOmschrijving[i]">
                        <div class="alert alert-primary" role="alert" id="uitklapdiv">
                            <div class="col-sm-10" id="aantekeningtekst">
                                <p class="kop">Tekst</p>
                                <pre>{{Aantekening.tekst}}</pre>
                            </div>
                            <button type="button" class="close" aria-label="Close" (click)="toggleOmschrijving(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                    <tr *ngIf="zichtbaar[i]">
                        <div class="alert alert-danger" role="alert" id="waarschuwing">
                            <div class="col-sm-7" id="verwijdertekst">
                                <p>Weet u zeker dat u de aantekening '{{Aantekening.titel}}' wilt verwijderen?</p>
                            </div>
                            <button id="verwijderbutton"
                                (click)="verwijderAantekening(Aantekening);">Verwijderen</button>
                            <button type="button" class="close" aria-label="Close" (click)="toggle(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>