<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h6>{{tekstObject.titel}}</h6>
        </div>
        <div class="col-sm-9">
            <p>{{tekstObject.tekst}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subtitel">
        </div>
        <div class="col-sm-9">
            <table class='table col-lg-8'>
                <tbody>
                    <tr *ngFor="let opdracht of opdrachten" routerLink="../opdracht/{{opdracht.id}}">
                        <td class="buttontd">
                            <button id="opdracht{{opdracht.id}}">{{opdracht.titel}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>