
<div class="row">
        <div class="container-fluid">
                <div class="row">
                    <div id=h6 class="col-sm-6">
                        Welkom admin!
                    </div>
                    <div class="col-sm-6">
                        <p>
                                Welkom {{gebruiker.displaynaam}} op de academy.
                        </p>
                    </div>
                    <div class="col-sm-6">
                            <p>
                                Bekijk hier alle trajecten en pas ze eventueel aan:
                            </p>
                            <button id=linktekst [routerLink]="'./admin-maak-traject'">trajecten</button><br>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Bekijk hier alle actieve gebruikers en pas ze eventueel aan of voeg toe:
                            </p>
                            <button id=linktekst [routerLink]="'./admin-beheer-gebruikers'">Gebruikers</button><br>
                        </div>
                        <router-outlet></router-outlet>
                </div>
            </div>
        </div>
