<div class="row">
    <div id=h6 class="col-sm-3">
        Maak een nieuw traject aan
    </div>
    <div class="col-sm-6">
        <div>Trajectnaam:
        </div>
        <div>
            <input [(ngModel)]="traject.naam" type="text" class="form-control" />
        </div>
        <div>Trajectomschrijving:
        </div>
        <div>
            <input [(ngModel)]="traject.omschrijving" type="text" class="form-control" />
        </div>
        <div>Zichtbaar:
        </div>
        <div><input [(ngModel)]="traject.zichtbaar" type="checkbox" id="checkbox" value="true" />
        </div>
        <div><button (click)="createTraject(traject)">Opslaan</button>
        </div>
    </div>
</div>