<div class="container-fluid" id="Lijst_Studenten_Gekoppeld">
    <div class="row">
        <button>Beheer studenten</button>
        <table class='table table-bordered col-lg-12'>
            <thead id="table-bottom">
                <tr>
                    <th id="thNaamStudent">Voornaam</th>
                    <th id="thZichtbaarStudent">Achternaam</th>
                    <th id="thEmailadresStudent">Emailadres</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Gebruiker of studenten">
                    <td id="tdVoornaam{{Gebruiker.id}}">{{Gebruiker.voornaam}}</td>
                    <td id="tdAchternaam{{Gebruiker.id}}">{{Gebruiker.achternaam}}</td>
                    <td id="tdEmailadres{{Gebruiker.id}}">{{Gebruiker.emailadres}}</td>
                    <!-- <td ><a id="pencil" (click)="clickWijzigModal('traject-modal', Gebruiker.id)"><i class='fa fa-pencil' -->
                    <!-- id="tdWijzig{{Gebruiker.id}}"></i></a></td> -->
                    <!-- <button routerLink="../admin-beheer-trajectfasen/{{Traject.id}}" routerLinkActive="active">Traject fasen</button> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid" id="Lijst_Docenten">
    <div class="row">
        <button id="beheerDocenten" (click)="openBeheerModal('docent-koppel-modal', 'DOCENT')">Beheer docenten</button>
        <table class='table table-bordered col-lg-12'>
            <thead id="table-bottom">
                <tr>
                    <th id="thNaamDocent">Voornaam</th>
                    <th id="thZichtbaarDocent">Achternaam</th>
                    <th id="thEamailadresDocent">Emailadres</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Gebruiker of docenten">
                    <td id="tdVoornaam{{Gebruiker.id}}">{{Gebruiker.voornaam}}</td>
                    <td id="tdAchternaam{{Gebruiker.id}}">{{Gebruiker.achternaam}}</td>
                    <td id="tdEmailadres{{Gebruiker.id}}">{{Gebruiker.emailadres}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>