<div class="container-fluid" id="Filter_Gebruiker">
    <div class="row">
        <div>
            <button id="openToevoegModal" (click)="openToevoegModal('traject-toevoegen-modal')">Traject toevoegen</button>
        </div>
        <table class='table borderless col-lg-12'>
            <thead id="table-bottom">
                <tr>
                    <th id="thNaam">Traject</th>
                    <th id="thZichtbaar">Zichtbaar</th>
                    <th id="thBewerken">Bewerken</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let Traject of alleTrajecten"  >
                    <td id="tdTraject{{Traject.id}}">{{Traject.naam}}</td>
                    <td id="tdZichtbaar{{Traject.id}}">
                        <div *ngIf="Traject.zichtbaar; else elseBlock">Ja</div>
                        <ng-template #elseBlock>Nee</ng-template>
                    </td>
                    <td class="text-center align-middle"><a id="pencil" (click)="clickWijzigModal('traject-modal', Traject.id)"><i class='fa fa-pencil'
                                id="tdWijzig{{Traject.id}}"></i></a></td>
                    <td>
                        <button routerLink="../recruiter-beheer-trajectfase/{{Traject.id}}" routerLinkActive="active">
                            Beheer fasen
                        </button>
                    </td>
                    <td>
                        <button routerLink="../recruiter-beheer-trajectgebruikers/{{Traject.id}}" routerLinkActive="active">
                            Koppel gebruikers
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>