<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div id=h6 class="col-sm-6">
            Welkom student!
        </div>
        <div class="col-sm-6">
            <p>
                Welkom {{gebruiker.displaynaam}} op de academy. Gebruik het dashboard hieronder om te navigeren tussen
                de verschillende pagina's.
            </p>
        </div>
    </div>
    <!-- Hier begint het dashboard voor de student -->
    <div class="row">
        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'installatiehulp'">
                <div id="Installatiehulp"> </div>
                <div id=h6 >Installatiehulp </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'opdrachten'">
                <div id="Opdrachten"></div>
                <div id=h6>Opdrachten</div>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'notities'">
                <div id="Notities"></div>
                <div id=h6>Notities</div>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="afbeelding" [routerLink]="'mijn-gegevens'">
                <div id="MijnProfiel"></div>
                <div id=h6>Mijn Profiel</div>
            </div>
        </div>
    </div>

</div>