<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div id="h6" class="col-sm-4">
            Welkom student!
        </div>
        <div class="col-sm-8">
            <p id="text">
                LORUM IPSUM -- Welkom {{gebruiker.displaynaam}} op de academy. Gebruik het dashboard hieronder om te
                navigeren tussen
                de verschillende pagina's. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget erat
                sodales, condimentum quam et, feugiat felis. Cras malesuada convallis porta. Maecenas malesuada ipsum
                sit amet nulla finibus, quis pretium massa commodo. Etiam ornare diam nec neque sagittis pretium.
                Quisque accumsan ut lectus nec laoreet. Morbi eu vestibulum tortor. Nunc tincidunt efficitur luctus.
                Pellentesque varius accumsan fermentum.
            </p>
        </div>
    </div>
    <!-- Hier begint het dashboard voor de student -->
    <div class="row">
        <div class="col-sm-3">
            <div [routerLink]="'voorbereiding'">
                <div id="Voorbereiding"> </div>
                <div id=h5>Voorbereiding</div>
            </div>
        </div>

        <div class="col-sm-3">
            <div [routerLink]="'opdrachten'">
                <div id="Opdrachten"></div>
                <div id=h5>Opdrachten</div>
            </div>
        </div>

        <div class="col-sm-3">
            <div [routerLink]="'notities'">
                <div id="Notities"></div>
                <div id=h5>Notities</div>
            </div>
        </div>

        <div class="col-sm-3">
            <div [routerLink]="'mijn-gegevens'">
                <div id="MijnOverzicht"></div>
                <div id=h5>Mijn Overzicht</div>
            </div>
        </div>
    </div>

    <!-- Hier wordt de trajectinformatie van het traject getoont waar de student aan gekoppeld is -->
    <div class="melding">
        <alert id="alert-1"></alert>
    </div>
    <div *ngFor="let traject of trajecten">
        <div class="row">
            <div id="h6" class="col-sm-4">
                {{traject.naam}}
            </div>
            <div class="col-sm-8">
                <p id="text">
                    {{traject.omschrijving}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="Agenda">
                <table class="table table-bordered" id="agendatabel">
                    <thead id="tabel-headers">
                        <tr>
                            <th>Datum</th>
                            <th>Tijdstip</th>
                            <th>Informatie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Trajectonderdeel of traject.trajectOnderdelen">
                            <td>{{Trajectonderdeel.startdatum}}</td>
                            <td>{{Trajectonderdeel.tijdstip}}</td>
                            <td>{{Trajectonderdeel.naam}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>