<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h5>Webteksten beheren</h5>
        </div>
        <div class="col-sm-8">
            <p> Hier kunt u webteksten beheren.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p id="tekstobjecten-groep">HomePagina</p>
            <div *ngFor="let TekstObject of alleTekstObjecten | slice:0:1">
                <button id="tekstobjectWijzig{{TekstObject.id}}"
                    routerLink="../tekstobject-wijzigen/{{TekstObject.id}}">
                    {{TekstObject.titel}}
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <p id="tekstobjecten-groep">DocentPagina</p>
            <div *ngFor="let TekstObject of alleTekstObjecten | slice:16:17">
                <button id="tekstobjectWijzig{{TekstObject.id}}"
                    routerLink="../tekstobject-wijzigen/{{TekstObject.id}}">
                    {{TekstObject.titel}}
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <p id="tekstobjecten-groep">RecruiterPagina</p>
            <div *ngFor="let TekstObject of alleTekstObjecten | slice:17">
                <button id="tekstobjectWijzig{{TekstObject.id}}"
                    routerLink="../tekstobject-wijzigen/{{TekstObject.id}}">
                    {{TekstObject.titel}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p id="tekstobjecten-groep">AdminPagina</p>
            <div *ngFor="let TekstObject of alleTekstObjecten | slice:8:16">
                <button id="tekstobjectWijzig{{TekstObject.id}}"
                    routerLink="../tekstobject-wijzigen/{{TekstObject.id}}">
                    {{TekstObject.titel}}
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <p id="tekstobjecten-groep">StudentPagina</p>
            <div *ngFor="let TekstObject of alleTekstObjecten | slice:1:8">
                <button id="tekstobjectWijzig{{TekstObject.id}}"
                    routerLink="../tekstobject-wijzigen/{{TekstObject.id}}">
                    {{TekstObject.titel}}
                </button>
            </div>
        </div>
    </div>
</div>