<div class="container-fluid" id="Filter_Gebruiker">
    <div class="row">
        <table class='table table-bordered col-lg-12'>
            <thead id="table-bottom">
                <tr>
                    <th id="thNaam">Voornaam</th>
                    <th id="thZichtbaar">Achternaam</th>
                    <th id="thBewerken">E-mailadres</th>
                    <th id="thBewerken">Toevoegen aan traject</th>
                </tr>           
            </thead>
            <tbody >
                <tr *ngFor="let Traject of alleTrajecten"  >
                    <td  id="tdVoornaam{{Gebruiker.id}}"  >{{Gebruiker.Voornaam}}</td>
                    <td  id="tdAchternaam{{Gebruiker.id}}"  >{{Gebruiker.Voornaam}}</td>
                    <td  id="tdEmailadres{{Gebruiker.id}}"  >{{Gebruiker.Voornaam}}</td>
                    <td id="tdGekoppeld{{Gebruiker.id}}">
                        
                    </td>
                    <td ><a id="pencil" (click)="clickWijzigModal('traject-modal', Traject.id)"><i class='fa fa-pencil'
                                id="tdWijzig{{Traject.id}}"></i></a></td>
                    <button routerLink="../admin-beheer-trajectfasen/{{Traject.id}}" routerLinkActive="active">Traject fasen</button>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
