<div class="container-fluid" id="assessmentform">
    <form>
        <div class="row">
            <h6>Assessment wijzigen</h6>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Titel</p>
                <input name="titel" class="form-control" [(ngModel)]="assessment.titel" type="text" id="titelinvoer"
                    maxlength="256">
            </div>
            <div class="col-sm-6">
                <p>Zichtbaar</p>
                <div>
                    <label id="zichtbaar" class="switch">
                        <input name="zichtbaar" type="checkbox" [(ngModel)]="assessment.zichtbaar">
                        <span class="slider round"></span>
                    </label>
                    <ng-container>
                        <span class="zichtbaartekst" *ngIf="assessment.zichtbaar">Het assessment is zichtbaar.</span>
                        <span class="zichtbaartekst" *ngIf="!assessment.zichtbaar">Het assessment is niet
                            zichtbaar.</span>
                    </ng-container>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6">
                <p>Kies bij welke trajectonderdeel van een traject het assessment hoort</p>
                <select name="fase" class="form-control" id="trajectonderdeelmenu"
                    [(ngModel)]="trajectOnderdeel.id">
                    <option *ngFor="let Trajectonderdeel of trajectonderdelen" [ngValue]="Trajectonderdeel.id">
                        {{Trajectonderdeel.naam}} | Traject: {{Trajectonderdeel.traject.naam}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Omschrijving</p>
                <textarea name="omschrijving" class="form-control" [(ngModel)]="assessment.omschrijving"
                    id="omschrijvinginvoer" maxlength="10000"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button id="opslaanbutton" (click)="assessmentWijzigen(assessment)">Opslaan</button>
            </div>
        </div>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </form>
</div>