<div class="row">
        <div class="container-fluid">
            <div class="row">
                <div id=h6 class="col-sm-3">
                    {{traject.naam}}
                </div>
                <div class="col-sm-6">
                    <p>
                        Pas hier de trajectfases aan:<br>
                        Voeg nieuwe toe of pas bestaande aan. 
                    </p>
                    <br>
                </div>
                <div>
                    <wsa-recruiter-beheer-selectiefase></wsa-recruiter-beheer-selectiefase>                
                    <wsa-recruiter-beheer-opleidingsfase></wsa-recruiter-beheer-opleidingsfase>
                </div>
            </div>
        </div>
    </div>