.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
}
.row{
    padding-top: 5%;
}

#h5{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

#h6{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}
#afbeelding{
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 117px;
    padding-right: 117px;
}
#Opdrachten{
    background-image: url(src/assets/Images/Opdrachten.png);
    height: 225px;
    width: 225px;
    background-repeat: no-repeat;
    background-position: center;
}
#Installatiehulp {
    background-image: url(src/assets/Images/Installatiehulp.png);
    height: 225px;
    width: 225px;
    background-repeat: no-repeat;
    background-position: center;
}
#Notities {
    background-image: url(src/assets/Images/Notities2.png);
    height: 225px;
    width: 225px;
    background-repeat: no-repeat;
    background-position: center;
}
#MijnProfiel {
    background-image: url(src/assets/Images/Profiel3.png);
    height: 225px;
    width: 225px;
    background-repeat: no-repeat;
    background-position: center;
}