.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.row {
    padding-top: 2%;
}

p {
    white-space: pre-wrap;
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

#h6 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}