<div class="container-fluid" id="mainbody">
    <div class="row">
        <br><br>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-3 introTitle">
                Getting Started
            </div>
            <div class="col-sm-9">
                <p id="text">
                    Als je dit leest ben je voornemens om programmeur te worden.
                    Onze tip is om meteen te starten om je te bekwamen in programmeren. Working Spirit heeft een
                    selectie
                    gemaakt
                    uit het brede aan bod van online cursussen en tutorials. Je zult merken dat wanneer je deze
                    tutorials
                    gedaan hebt,
                    je de concepten die je in het Working Spirit traject worden uitgelegd, makkelijker kunt volgen.
                    <br>
                    <b>Let op!</b> Volg de cursussen over Java, <b>niet JavaScript.</b> Dat is namelijk een significant
                    andere taal.
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subIntroTitle">
            Codecademy
        </div>
        <div class="col-sm-9">
            <p id="text">
                De website van Codecademy is ideaal om mee te beginnen:
                <a id="clickWebsite" (click)="goToCodecademy()">www.codecademy.com</a>
                Het neemt je met behulp van een intelligente website mee in de beginselen van Java.
                Je leert wat een boolean, een variabele en een functie is. Heel basaal, maar zeker leuk. Doe deze als
                eerste.
                <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subIntroTitle">
            The New Boston
        </div>
        <div class="col-sm-9">
            <p id="text">
                Hier heb je de cursus Java - beginners -
                <a id="clickWebsite" (click)="goToNewBoston()">The New Boston beginners</a>
                Tijdens deze met name video tutorial krijg je een goed overzicht in de beginselen
                van Java en programmeren. Ook leren met name eerste video's je, hoe je jouw computer
                geschikt moet maken voor het programmeren met Java.
                <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subIntroTitle">
            Moocfi
        </div>
        <div class="col-sm-9">
            <p id="text">
                Iets meer tekstueel en met goede codevoorbeelden is:
                <a id="clickWebsite" (click)="goToMOOCFI()">moocfi</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subIntroTitle">
            Tutorialspoint
        </div>
        <div class="col-sm-9">
            <p id="text">
                Ook tutorialspoint start met een hele mooie introductie op de taal Java:
                <a id="clickWebsite" (click)="goToTutorialspoint()">tutorialspoint</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 subIntroTitle">
            Tot slot
        </div>
        <div class="col-sm-9">
            <p id="text">
                Tot slot zou het handig zijn als je Java alvast installeerd op je computer.
                Volg deze stappen om je computer goed te prepareren voor de Java-cursus:
                <br>
                <br>
                - Download en installeer JDK
                <br>
                <br>
                - Download en installeer Eclipse
                <br>
                <br>
                - Maak je eerste programma: Hello World.
                <br>
                <br>

                Succes en veel plezier toegewenst!

                <br>
            </p>
        </div>
    </div>
</div>
<br>