<div class="container-fluid" id="Filter_Assessments">
    <div class="row">
        <!-- Toevoegen assessment button -->
        <div>
            <button id="openToevoegModal" (click)="openToevoegModal('assessments-toevoegen-modal')">Assessment
                toevoegen</button>
        </div>

        <!-- Assessments tabel -->
        <table class='table borderless col-lg-12'>
            <thead id="table-header">
                <tr>
                    <th id="thTitel">Titel</th>
                    <th id="thOmschrijving">Omschrijving</th>
                    <th id="thTraject">Traject</th>
                    <th id="thFase">Fase</th>
                    <th id="thBewerken">Bewerken</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Opdracht of alleAssessments">
                    <td id="tdAssessment{{Opdracht.id}}">{{Opdracht.titel}}</td>
                    <td id="tdOmschrijving{{Opdracht.id}}">{{Opdracht.omschrijving}}</td>
                    <td id="tdTraject{{Opdracht.id}}">{{Opdracht.traject.naam}}</td>
                    <td id="tdFase{{Opdracht.id}}">{{Opdracht.fase}}</td>
                    <td id="tdWijzig{{Opdracht.id}}">
                        <a id="pencil">
                            <i class='fa fa-pencil' id="tdWijzig{{Opdracht.id}}"
                                (click)="clickWijzigModal('assessment-wijzig-modal', Opdracht.id)"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>