.container-fluid {
    margin-top: 5%;
    padding-left: 19%;
    padding-right: 19%;
}
.ruimte{
    padding-top: 5%;
}

#header {
    padding-top: 0%;
}

#trajecten-titel {
    letter-spacing: 1px;
    color: #00aeef;
    font-size: 30px;
    font-weight: normal;
    line-height: 32px;
}

#h6{
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

.buttons {
    margin-bottom: 2%;
}

.traject button {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

.traject button:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}