.container-fluid {
    padding-left: 19%;
    padding-right: 19%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.row{
    padding-top: 2%;
}

.col-sm-4 {
    padding-left: 0;
}

p {
    font-family: "Working Spirit";
    font-size: 14px;
    line-height: 24px;
    color:  #808285;
}

h6 {
    letter-spacing: 1px;
    color: #808285;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
}

.aantekeningtitel {
    padding-left: 0;
}

.titelaantekening {
    padding-top: 10px;
}

button {
    border-color: #00aeef;
    color: #00aeef;
    width: 230px;
    text-transform: uppercase;
    border: 1px solid  #00aeef;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.42857;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #00aeef;
}

#melding {
    width: 100%;
}