<!-- FOOTER -->
<div class="row" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://workingspirit.nl/">
          <img src="https://www.workingspirit.nl/themes/workingspirit/images/beeldmerk.svg"
            alt="Working Spirit beeldmerk">
        </a>
      </div>
      <div class="col-sm-6">
        <h1 class="textlogo">
          Working <br>
          Spirit
        </h1>
        <br>
        <div class="row" id="contactinformatie">
          <div class="col-sm-4">
            Keulenstraat 11 <br>
            7418 ET <br>
            Deventer <br>
            0570 51 38 38 <br>
            info@workingspirit.nl <br>
            <br>
            Postbus 2075 <br>
            7420 AB Deventer <br>
            <br>
            <a href="https://www.workingspirit.nl/privacy-verklaring">
              Privacy verklaring
            </a> <br>
            <br>
          </div>
          <div class="col-sm-6">
            Daalwijkdreef 47 <br>
            1103 AD <br>
            Amsterdam-Zuidoost <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>