<div class="container-fluid">
    <div>
        <div class="row">
            <div class="col-sm-4" id="paginatitel">
                <h5>Traject toevoegen</h5>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <aw-wizard class="my-custom-css-wrapper">
            <aw-wizard-step stepTitle="Trajectinformatie">
                <div class="row grijs">
                    <div class="col-sm-6">
                        <p>Vul hier alle benodigde informatie voor het traject in. De korte omschrijving is te zien
                            op de homepagina. De zichtbaarheid van het traject bepaald of het traject wordt getoond.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Naam</p>
                        <input name="naam" class="form-control" [(ngModel)]="traject.naam" type="text" id="naaminvoer"
                            maxlength="256">
                    </div>
                    <div class="col-sm-6">
                        <p>Zichtbaarheid traject</p>
                        <div>
                            <label id="zichtbaar" class="switch">
                                <input type="checkbox" [(ngModel)]="traject.zichtbaar">
                                <span class="slider round"></span>
                            </label>
                            <ng-container>
                                <span class="zichtbaartekst" *ngIf="traject.zichtbaar">Het traject is zichtbaar.</span>
                                <span class="zichtbaartekst" *ngIf="!traject.zichtbaar">Het traject is niet zichtbaar.</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Korte omschrijving</p>
                        <textarea name="korteomschrijving" class="form-control" [(ngModel)]="traject.korteOmschrijving"
                            id="korteomschrijvinginvoer" maxlength="10000"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <p>Omschrijving</p>
                        <textarea name="omschrijving" class="form-control" [(ngModel)]="traject.omschrijving"
                            id="omschrijvinginvoer" maxlength="10000"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 bottom">
                        <button id="naarstap2" type="button" awNextStep>Volgende stap</button>
                    </div>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Trajectonderdelen">
                <!--TrajectOnderdelen koppelen-->
                <div class="row grijs">
                    <div class="col-sm-6">
                        <h6>Trajectonderdelen</h6>
                        <div id="trajectonderdelendisplay">
                            <ng-container *ngFor="let Trajectonderdeel of nieuweTrajectOnderdelen">
                                <div class="trajectonderdeel">
                                    <div class="col-sm-10 onderdeelnaam">
                                        <a id="wijzigonderdeel{{Trajectonderdeel.naam}}" (click)="wijzigTrajectonderdeel(Trajectonderdeel);">
                                            {{Trajectonderdeel.naam}}
                                        </a>
                                    </div>
                                    <i class="fa fa-times" aria-hidden="true"
                                        (click)="verwijderOnderdeel(Trajectonderdeel);" id="verwijderonderdeel{{Trajectonderdeel.naam}}"></i>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Maak hier trajectonderdelen aan voor het traject. Bij een trajectonderdeel kun je denken
                            aan een selectieprocedure met een technisch assessment of een opleidingsfase voor een
                            bepaalde techniek.
                        </p>
                    </div>
                </div>
                <ng-container *ngIf="!onderdeelWijzigen">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Naam</p>
                            <div>
                                <input [(ngModel)]="trajectonderdeel.naam" type="text" class="form-control"
                                    id="onderdeelnaaminvoer" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p>Fase</p>
                            <div>
                                <select name="rol" [(ngModel)]="trajectonderdeel.fase" class="form-control" required
                                    id="fasetypekeuze">
                                    <option value="OPLEIDING" id="opleidingsfasekeuze">Opleidingsfase</option>
                                    <option value="SELECTIE" id="selectiefasekeuze">Selectiefase</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Startdatum</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.startdatum" class="form-control" rows="1"
                                    id="startdatuminvoer"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p>Tijdstip</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.tijdstip" class="form-control" rows="1"
                                    id="tijdstipinvoer"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Omschrijving</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.omschrijving" class="form-control" rows="3"
                                    id="onderdeelomschrijvinginvoer"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button id="onderdeelopslaan" (click)="maakNieuwTrajectonderdeel(trajectonderdeel)">
                                Onderdeel toevoegen
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="onderdeelWijzigen">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Naam</p>
                            <div>
                                <input [(ngModel)]="trajectonderdeel.naam" type="text" class="form-control"
                                    id="onderdeelnaaminvoer" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p>Fase</p>
                            <div>
                                <select name="rol" [(ngModel)]="trajectonderdeel.fase" class="form-control" required
                                    id="fasetypekeuze">
                                    <option value="OPLEIDING" id="opleidingsfasekeuze">Opleidingsfase</option>
                                    <option value="SELECTIE" id="selectiefasekeuze">Selectiefase</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Startdatum</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.startdatum" class="form-control" rows="1"
                                    id="startdatuminvoer"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p>Tijdstip</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.tijdstip" class="form-control" rows="1"
                                    id="tijdstipinvoer"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Omschrijving</p>
                            <div>
                                <textarea [(ngModel)]="trajectonderdeel.omschrijving" class="form-control" rows="3"
                                    id="onderdeelomschrijvinginvoer"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button id="onderdeelopslaan" (click)="wijzigOnderdeel(trajectonderdeel)">
                                Onderdeel wijzigen
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-sm-6 bottom">
                        <button id="naarstap1" awPreviousStep>Vorige stap</button>
                    </div>
                    <div class="col-sm-6 bottom">
                        <button id="trajectopslaan" (click)="trajectOpslaan(traject);">Traject opslaan</button>
                    </div>
                </div>
            </aw-wizard-step>
        </aw-wizard>
    </div>
</div>