/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: "Working Spirit";
    src: url(assets/Fonts/Avenir-Roman.ttf);
}

@font-face{
    font-family: "Working Spirit Header";
    src: url(assets/Fonts/Avenir-Black.ttf);

}

#header {
    font-family: "Working Spirit Header";
}

body {
    font-family: "Working Spirit"
}

html {
    font-family: "Working Spirit";
    overflow-x: hidden;
}