<div class="row">
    <div class="container-fluid">
        <div class="row">
            <p>docent-traject works!</p>
        </div>
        <div class="row">
            <div class="buttons">
                <button id="studentButton" [routerLink]="'./docent-studentenlijst'">Studenten</button>
                <button id="lesstofButton" [routerLink]="'./docent-lesstof'">Lesstof</button>
                <button id="opdrachtButton" [routerLink]="'./docent-opdrachten'">Opdrachten</button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>