<div class="container-fluid">
    <div class="row">
        <div id=h6 class="col-sm-3">
            {{traject.naam}}
        </div>
        <div class="col-sm-6">
            <p>
                Koppel hier studenten en docenten aan een traject.
            </p>
        </div>
    </div>
    <div class="row">
        <h6>Studenten</h6>
        <table class="table table-bordered col-lg-12">
            <thead id="table-bottom">
                <tr>
                    <th id="VoornaamStudent">Voornaam</th>
                    <th id="AchternaamStudent">Achternaam</th>
                    <th id="KoppelenStudent">Koppelen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Student of studentenlijst">
                    <td id="Voornaam{{Student.id}}">{{Student.voornaam}}</td>
                    <td id="Achternaam{{Student.id}}">{{Student.tussenvoegsel}} {{Student.achternaam}}</td>
                    <td id="Vink{{Student.id}}">
                        <input type="checkbox" [(ngModel)]="Student.gekoppeld"
                            (click)="wijzigStudentArray(Student, Student.gekoppeld);" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
    <div class="row">
        <h6>Docenten</h6>
        <table class="table table-bordered col-lg-12">
            <thead id="table bottom">
                <tr>
                    <th id="VoornaamDocent">Voornaam</th>
                    <th id="AchternaamDocent">Achternaam</th>
                    <th id="KoppelenDocent">Koppelen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Docent of docentenlijst">
                    <td id="Voornaam{{Docent.id}}">{{Docent.voornaam}}</td>
                    <td id="Achternaam{{Docent.id}}">{{Docent.tussenvoegsel}} {{Docent.achternaam}}</td>
                    <td id="Vink{{Docent.id}}">
                        <input type="checkbox" [(ngModel)]="Docent.aanTraject"
                            (click)="wijzigDocentArray(Docent, Docent.aanTraject);" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>