<div class="row">
    <div class="col-sm-6" id="buttondiv">
        <button id="toevoegbutton" routerLink="../opdracht-aanmaak/{{traject_id}}">Opdracht toevoegen</button>
    </div>
</div>
<div class="row">
    <div id="opdrachtentabel">
        <table class="table table-bordered">
            <thead id="table-bottom">
                <tr>
                    <th id="titel">Titel</th>
                    <th id="dag">Bootcampdag</th>
                    <th id="fase">Fase</th>
                    <th id="zichtbaar">Zichtbaar</th>
                    <th id="wijzigen">Wijzig</th>
                    <th id="verwijderen">Verwijder</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let Opdracht of opdrachten; let i = index;">
                    <tr (onCreate)="maakBooleanLijst();">
                        <td id="titel{{Opdracht.id}}"><span id="opdrachttitel{{Opdracht.id}}" title="Toon opdrachtinformatie"
                                (click)="toggleOmschrijving(i);"><div id="opdrachttitel">{{Opdracht.titel}}</div></span>
                        </td>
                        <td id="dag{{Opdracht.id}}">{{Opdracht.dag}}</td>
                        <td id="trajectonderdeel{{Opdracht.id}}">{{Opdracht.trajectOnderdeel.naam}}</td>
                        <td id="zichtbaar{{Opdracht.id}}">
                            <p *ngIf="Opdracht.zichtbaar">Ja</p>
                            <p *ngIf="!Opdracht.zichtbaar">Nee</p>
                        </td>
                        <td>
                            <div id="pencil">
                                <i class='fa fa-pencil' id="pencil{{Opdracht.id}}" (click)="wijzigOpdracht(Opdracht);"
                                    routerLink="../opdracht-wijzig/{{traject_id}}"></i>
                            </div>
                        </td>
                        <td>
                            <div id="prullenbak">
                                <i class='fa fa-trash' id="verwijder{{Opdracht.id}}" (click)="toggle(i);"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="toonOmschrijving[i]">
                        <div class="alert alert-primary" role="alert" id="uitklapdiv">
                            <div class="col-sm-5" id="opdrachtomschrijving">
                                <p class="kop">Omschrijving</p>
                                <p>{{Opdracht.omschrijving}}</p>
                            </div>
                            <div class="col-sm-5" id="opdrachtcode">
                                <p class="kop">Codevoorbeeld</p>
                                <pre>{{Opdracht.codevoorbeeld}}</pre>
                            </div>
                            <button type="button" class="close" aria-label="Close" (click)="toggleOmschrijving(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                    <tr *ngIf="zichtbaar[i]">
                        <div class="alert alert-danger" role="alert" id="waarschuwing">
                            <div class="col-sm-7" id="verwijdertekst">
                                <p>Weet u zeker dat u de opdracht '{{Opdracht.titel}}' wilt verwijderen?</p>
                            </div>
                            <button id="verwijderbutton" (click)="verwijderOpdracht(Opdracht);">Verwijderen</button>
                            <button type="button" class="close" aria-label="Close" (click)="toggle(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div id="melding">
            <alert id="alert-1"></alert>
        </div>
    </div>
</div>