<div class="row">
    <div class="col-sm-6" id="buttondiv">
        <button id="toevoegbutton" routerLink="../opdracht-aanmaak/{{traject_id}}">Toevoegen</button>
    </div>
</div>
<div class="row">
    <div id="opdrachtentabel">
        <table class="table table-bordered">
            <thead id="table-bottom">
                <tr>
                    <th id="titel">Titel</th>
                    <th id="omschrijving">Omschrijving</th>
                    <th id="codevoorbeeld">Codevoorbeeld</th>
                    <th id="dag">Bootcampdag</th>
                    <th id="fasetype">Fasetype</th>
                    <th id="zichtbaar">Zichtbaar</th>
                    <th id="wijzigen">Wijzig</th>
                    <th id="verwijderen">Verwijder</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let Opdracht of opdrachten; let i = index;">
                    <tr (onCreate)="maakBooleanLijst();">
                        <td id="titel{{Opdracht.id}}">{{Opdracht.titel}}</td>
                        <td id="omschrijving{{Opdracht.id}}">{{Opdracht.omschrijving}}</td>
                        <td id="code{{Opdracht.id}}">{{Opdracht.codevoorbeeld}}</td>
                        <td id="dag{{Opdracht.id}}">{{Opdracht.dag}}</td>
                        <td class="fasetype" id="fasetype{{Opdracht.id}}">{{Opdracht.fase}}</td>
                        <td id="zichtbaar{{Opdracht.id}}">
                            <p *ngIf="Opdracht.zichtbaar">Ja</p>
                            <p *ngIf="!Opdracht.zichtbaar">Nee</p>
                        </td>
                        <td><div id="pencil">
                            <i class='fa fa-pencil' id="pencil{{Opdracht.id}}" (click)="wijzigOpdracht(Opdracht);"
                                routerLink="../opdracht-wijzig"></i>
                            </div>
                        </td>
                        <td><div id="prullenbak">
                            <i class='fa fa-trash' id="verwijder{{Opdracht.id}}" (click)="toggle(i);"></i>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="zichtbaar[i]">
                        <div class="alert alert-danger" role="alert" id="waarschuwing">
                            <div class="col-sm-7" id="verwijdertekst">
                                <p>Weet u zeker dat u de opdracht '{{Opdracht.titel}}' wilt verwijderen?</p>
                            </div>
                            <button id="verwijderbutton" (click)="verwijderOpdracht(Opdracht);">Verwijderen</button>
                            <button type="button" class="close" aria-label="Close" (click)="toggle(i);">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div *ngIf="geenOpdrachten">
            <p>Dit traject heeft nog geen opdrachten.</p>
        </div>
    </div>
</div>