<wsa-opleidings-fase-tabel></wsa-opleidings-fase-tabel>

<jw-modal class="jw-modal" id="opleidingsFase-wijzig-modal">
    <h1>Wijzig hierinder de opleidingsfase</h1>
    <div class="row">
        <div class="col-sm-12">
            <div>Opleidingsfase naam:</div>
            <div>
                <input [(ngModel)]="nieuweOpleiding.naam" type="text" class="form-control" id="veldOpleidingsFaseNaamWijzigen" />
            </div>
        </div>
            <div class="col-sm-12">
                <div>Omschrijving:</div>
                <div>
                    <textarea [(ngModel)]="nieuweOpleiding.omschrijving" class="form-control" rows="3"
                        id="veldOpleidingsFaseOmschrijvingWijzigen"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="opleidingsFaseWijzigen" (click)="wijzigOpleidingsFase(nieuweOpleiding, 'opleidingsFase-wijzig-modal')">Opslaan</button>
                <button id='opleidingsFaseSluitWijzigModal' (click)="closeModal('opleidingsFase-wijzig-modal');">Annuleren</button>
            </div>
        </div>
</jw-modal>


<jw-modal class="jw-modal" id="opleidingsFase-toevoegen-modal">
    <h1>Voeg een opleidingsfase toe</h1>
    <div class="row">
        <div class="col-sm-12">
            <div>Opleidingsfase naam:</div>
            <div>
                <input [(ngModel)]="nieuweOpleiding.naam" type="text" class="form-control" id="veldOpleidingsFaseNaamToevoegen" />
            </div>
        </div>
            <div class="col-sm-12">
                <div>Omschrijving:</div>
                <div>
                    <textarea [(ngModel)]="nieuweOpleiding.omschrijving" class="form-control" rows="3"
                        id="veldOpleidingsFaseOmschrijvingToevoegen"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="selectieFaseToevoegen" (click)="maakNieuwOpleidingsFase(nieuweOpleiding, 'opleidingsFase-toevoegen-modal')">Toevoegen</button>
                <button id='selectieFaseSluitModal' (click)="closeModal('opleidingsFase-toevoegen-modal');">Annuleren</button>
            </div>
        </div>
</jw-modal>