<div class="row">
    <table id="studentenlijst" class="table table-bordered">
        <thead id="table-bottom">
            <tr>
                <th>Voornaam<i class="sorteer" id='sorteerPijlVoornaam' class="fa fa-fw fa-sort"
                        (click)="sorteerTabel(0)"></i></th>
                <th>Achternaam<i class="sorteer" id='sorteerPijlAchternaam' class="fa fa-fw fa-sort"
                        (click)="sorteerTabel(1)"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Student of studenten; let i = index;">
                <td>{{Student.voornaam}}</td>
                <td>{{Student.tussenvoegsel}} {{Student.achternaam}}</td>
                <td>
                    <button id="uitwerkingen{{Student.id}}" (click)="naarUitwerkinglijst(Student);">Bekijk uitwerkingen
                        <div id="notificatie" *ngIf="!gelezen[i]">
                            <i class="fa fa-exclamation-circle" title="Nieuwe uitwerking beschikbaar"
                                aria-hidden="true"></i>
                        </div>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="melding">
        <alert id="alert-1"></alert>
    </div>
</div>